h1{
    color: green;
    
}
body {
    background-color: blue;
}
main{
    background-color: rgb(136, 111, 79);
}
footer{
    background-color: black;
}
nav{
    background-color: aqua;
    text-transform: uppercase;
}
p{
    color: rgb(138, 172, 107);
}
section{ 
     background-color: blueviolet;
     
}

